# Untracked files
*~
*.bak
*.esproj
*.komodoproject
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.hg
.hgignore
.komodotools
.backup
.backup4
.bak
nbproject/
uploads/entries/*
uploads/entry_galleries/*
uploads/avatars/*
uploads/galleries/*
uploads/tinymce/*
uploads/tmp/*
system/logs/*.php
system/logs/*.txt
system/logs/*.log
system/assets/cache/*.css
system/assets/cache/*.js
system/assets/cache/*.php
assets/cache/*.css
assets/cache/*.js
assets/cache/*.php
system/modules/_authentication
system/ci/.hg
system/ci/.hgignore
system/ci/.hgtags
system/ci/user_guide
_layout
addons/themes/mudra
system/cache/*
system/assets/cache/*
addons/themes/bigdeal/assets/cache/*

uploads/avatars/*
uploads/entries/*
uploads/entry_galleries/*
uploads/files/*
uploads/tmp/*


# Except these
!cache/index.html
!addons/themes/bigdeal/assets/cache/index.html
!system/cache/index.html
!system/assets/cache/index.html
!uploads/index.html
!uploads/avatars/index.html
!uploads/avatars/dummy.png
!uploads/entries/index.html
!uploads/entry_galleries/index.html
!uploads/files/index.html
!uploads/tmp/index.html
