body { font-family: Palatino, Georgia, "Times New Roman", serif; background: transparent url(../img/bg.gif) repeat top left; color: #444; }
hr { display: none; }
img { vertical-align: middle; border: 0; }
p { margin: 0 0 20px 0; font-size: 14px; line-height: 140%; }
a { color: #21759B; border-bottom: 1px dotted #ccc; text-decoration: none; }
a:hover { color: #1F536C; }
h2 { margin: 0 0 5px 0; font-size: 28px; font-weight: normal; color: #21759B; }



/* !/===> Wrapper */
#wrap { width: 878px; margin: 0 auto; margin-top: 80px; margin-bottom: 40px; height: 1%; }
#wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#main { width: 530px; padding: 15px 0; float: left; }
#main .errors   { background: #f4ddd9; border: 1px solid #c5533a; color: #333; text-shadow: 0 1px 0 #fff; padding: 10px 15px; margin: 0 0 20px; .border-radius(5px); }
#main .errors p { margin: 0 !important; }
#main .notice   { background: #d5fedb; border: 1px solid #62fa79; color: #333; text-shadow: 0 1px 0 #fff; padding: 10px 15px; margin: 0 0 20px; .border-radius(5px); }
#main .notice p { margin: 0 !important; }


/* !/===> Header */
header { height: 1%; clear: both; position: relative; }
	header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	header h1 { margin: 0 0 20px 0; font-size: 48px; font-weight: 300; }
	header h1 a { text-decoration: none; border: 0 none; }
	header .hdimg { position: absolute; top: -75px; right: 35px; opacity: .6; }
	header .hdimg:hover { opacity: 1; }
	

/* !/===> Foooter */
footer { padding: 10px 0; background: transparent url(../img/l.gif) no-repeat top left; clear: both; }
footer p { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; color: #777; }
footer p em { padding: 0 4px; }


/* !/===> Navigation */
header nav { margin: 0 0 35px 3px; padding: 15px 0 0 0; background: transparent url(../img/l.gif) no-repeat left top; height: 1%; clear: both; }
	header nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	header nav ul { list-style-type: none; margin: 0; padding: 0; }
	header nav li { margin-right: 25px; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; float: left; }
	header nav li.on a { font-weight: bold; color: #333; }
	header nav li a { display: block; border: 0 none; color: #555; }
	header nav li a:hover { color: #21759B; }
	header nav li ul { position: absolute; left: -9999em; }
	header nav li:hover ul, header nav li.sfhover ul { left: auto; }
	header nav li ul li { font-size: 11px; }
	header nav li.on ul li a { font-weight: normal; }
	header nav li ul li a { border-bottom: 1px dotted #ccc; }


/* !/===> Article layout */
section.articles h1 { font-size: 36px; font-weight: normal; color: #333; margin: 0 0 30px 0; }
article { margin: 0 0 100px 0; }
	article header {}
		article header h2 { font-size: 28px; font-weight: normal; color: #333; }
		article header h2 a { border: 0 none; color: #333; }
		article header h3 { margin-bottom: 0; font-size: 20px; line-height: 140%; font-weight: normal; }
		article header h3 a { border: 0 none; color: #333; }
		article header p { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; color: #777; }
	article h3 { margin: 20px 0 5px 0; font-size: 17px; color: #333; }
	article h4, article h5, article h6 { margin: 20px 0 5px 0; font-size: 14px; color: #333; }
	article ul, article ol { margin-bottom: 14px; }
	article li { font-size: 14px; line-height: 140%; }
	article blockquote { margin-left: 30px; padding-left: 15px; border-left: 2px solid #ddd; }
	article img { padding: 10px; background: #fff; border: 1px solid #e9e9e9; }
	article p { line-height: 150%; }
	article .thumb { float: left; margin: 0 16px 10px 0; padding: 5px 0 0 0; }
	article dl { margin: 30px 0; }
		article dt { margin: 0 0 3px 0; font-weight: bold; }
		article dd { margin: 0 0 18px 0; }
	
	/* Facebook posts */
	article .fb-posts { width: 100%; overflow: hidden; border-top: 1px dotted #ddd; padding: 10px 0 0 0; margin: 20px 0 30px 0; }
		article .fb-posts li { width: 100%; overflow: hidden; margin: 0 0 15px 0; border-bottom: 1px dotted #ddd; padding: 0 0 10px 0; list-style-type: none; }
		article .fb-posts .img { float: left; margin: 0 10px 10px 0; }
		article .fb-posts h3 { margin: 0 0 5px 0; }
		article .fb-posts h4 { margin: 0 0 5px 0; }
		article .fb-posts h5 { margin: 0 0 5px 0; }
		article .fb-posts p { font-size: 12px; margin: 0 0 5px 0; }
		article .fb-posts p.inf { font-size: 10px; }
		
	
	/* Form */
	article ol.form { list-style-type: none; }
		article ol.form li { list-style-type: none; margin: 0 0 10px 0; }
		article ol.form label { display: block; font-size: 13px; line-height: 140%; margin: 0 0 4px 0; }
		article ol.form input[type=text] { width: 360px; }
		article ol.form textarea { width: 500px; height: 220px; }
		article ol.form input[type=text], article ol.form textarea { padding: 6px; font-family: Palatino, Georgia, "Times New Roman", serif; font-size: 13px; border-left: 1px solid #999; 
			border-top: 1px solid #999; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #444; }
		input.btn { width: auto; padding: 6px 10px; font-family: Georgia, "Times New Roman", serif; font-size: 13px; font-weight: bold; 
			background: transparent url(../img/bg-button.png) repeat-x 0 50%; background-color: #21759B; border: 0 none; color: #fff; cursor: pointer;
			border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: all .2s linear; }
		input.btn:hover { background-color: #1F536C; text-decoration: none; }
	
	
	/* Sidebar form */
	form ul { margin: 0 0 20px 0; list-style-type: none; }
		form ul li { list-style-type: none; margin: 0 0 8px 0; }
		form ul li label { display: block; margin: 0 0 4px 0; }


/* !/===> Article meta */
article section.meta { padding: 10px 0 0 0; background: url(../img/l.gif) no-repeat scroll left top transparent; clear: both; }
	article section.meta ul { list-style-type: none; }
	article section.meta li { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; color: #777; }


/* !/===> Video box */
article section.video { margin: 30px 0; padding: 10px 0 0 0; background: url(../img/l.gif) no-repeat scroll left top transparent; clear: both; }
	article section.video h3 { margin-top: 0; margin-bottom: 16px; }
	article section.video .video-container { width: 530px; overflow: hidden; }


/* !/===> Album box */
article section.mixed { width: 100%; overflow: hidden; }
	article section.mixed .album-art { float: left; margin: 0 20px 15px 0; padding: 5px 0 0 0; }
	article section.mixed .artist-art { float: left; margin: 0 20px 15px 0; padding: 5px 0 0 0; }


/* !/===> Related entries */
article section.related { margin: 30px 0; padding: 10px 0 0 0; background: url(../img/l.gif) no-repeat scroll left top transparent; clear: both; }
	article section.related h3 { margin-top: 0; margin-bottom: 16px; }
		article section.related ol { border-top: 1px dotted #ccc; padding-top: 12px; }
		article section.related li { list-style-type: decimal; border-bottom: 1px dotted #ccc; margin: 0 0 12px 0; padding-left: 10px; }
		article section.related li .img { float: left; margin: 0 10px 10px 0; }
		article section.related li h4 { font-size: 13px; margin: 0 0 4px 0; }
		article section.related li p { font-size: 11px; margin: 0 0 10px 0; }


/* !/===> Gallery */
article section.gallery { margin: 0 0 30px 0; }
	article section.gallery ul { width: 100%; overflow: hidden; margin: 0; padding: 0; list-style-type: none; border: none; }
	article section.gallery ul li { float: left; margin: 0; padding: 10px; margin: 0; list-style-type: none; border: none; }
	article section.gallery ul li a { float: left; border: none; }
	article section.gallery ul li img {  }



/* !/===> Article navigation */
nav.entries { margin: 0 0 40px 0; padding: 10px 0 0 0; background: transparent url(../img/l.gif) no-repeat left top; clear: both; height: 1%; }
	nav.entries:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	nav.entries ul { list-style-type: none; }
	nav.entries li { margin-right: 25px; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; color: #777; float: left; }


/* !/===> Sidebar / aside */
aside { width: 250px; padding: 15px 20px; float: right; color: #777777; }
	aside h2 { margin: 0 0 9px 0; font-size: 14px; line-height: 140%; text-transform: uppercase; color: #666; font-weight: 900; }
	aside a { color: #555; }
	aside a:hover { color: #111; }
	aside p { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; }
	aside ul { list-style-type: none; }
	aside li { margin: 0 0 4px 0; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 11px; line-height: 140%; }
	aside section { margin: 0 0 40px 0; padding: 15px 0; background: transparent url(../img/l.gif) no-repeat top left; }
	
	/* Social login */
	aside .social { width: 100%; overflow: hidden; }
		aside .social input[type=text], aside .social input[type=email], aside .social input[type=password] {
			width: 180px;
		}
		aside .social form { margin: 0 0 25px 0; }
		aside .social div.login { margin: 0 0 6px 0; }
		aside .social div.login ul { list-style-type: none; margin: 0 0 0 0; padding: 0; }
		aside .social div.login li { list-style-type: none; margin: 0; padding: 0; float: left; }
		aside .social .profile-image { float: left; padding: 4px; border: 1px solid #ddd; margin: 0 15px 10px 0; }



/* !/===> Search form */
#searchform input { width: 90%; padding: 6px; font-family: Palatino, Georgia, "Times New Roman", serif; font-size: 13px; border-left: 1px solid #999; 
	border-top: 1px solid #999; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #444; }






/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  #wrap { width: 92%; }
  header nav li { font-size: 16px; }
  aside { display: none; }
  #main { float: none; width: 100%; }
  .hdimg { display: none; }

	article h2 { font-size: 32px; }
	article h3 { font-size: 22px; }
	article p { font-size: 14px; }
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}






/* !====> Codeigniter Profiler */
#codeigniter_profiler { width: 960px; margin: 0 auto; display: none; font-family: "Helvetica Neue", Helvetica, Arial; line-height: 120%; }
	#codeigniter_profiler fieldset { font-size: 12px; }
	#codeigniter_profiler table { border-spacing: 3px; width: 938px; }
	#codeigniter_profiler table td { padding: 1px 3px; }
	#codeigniter_profiler code { font-family: "Courier New"; font-size: 11px; line-height: 14px; }
